@using ItemCDBMigrations.Controllers
@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Vacancy Report By Division", "LocalReport", new { reportName = ReportsController.REPORT_VACBYDIV }, new { target = "_blank" })</li>
        <li>@Html.ActionLink("Vacancy Report By Budgeted Item Description", "LocalReport", new { reportName = ReportsController.REPORT_VACBYBUDITEMDESC }, new { target = "_blank" })</li>
        <li>@Html.ActionLink("Items Encumbered By Persons Holding Other Titles", "LocalReport", new { reportName = ReportsController.REPORT_ITEMSENCUMBERED }, new { target = "_blank" })</li>
        <li>@Html.ActionLink("Org Codes By Employee ID No.", "LocalReport", new { reportName = ReportsController.REPORT_ORGCODES }, new { target = "_blank" })</li>
        <li>@Html.ActionLink("Budgeted Position By Employee Last Name", "LocalReport", new { reportName = ReportsController.REPORT_BUDPOSBYEMPLLN }, new { target = "_blank"})</li>
    </ul>    
</div>