@using ItemCDBMigrations.Controllers
@{
    ViewBag.Title = "Reports";
}

<div class="jumbotron">
    <h1>Reports</h1>
    <p class="lead">Reports are divided by what kind of information are you looking for.<br />
    Browse for whichever type you like.</p>
</div>

@*Unsorted List*@
<div class="row">
    <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    Item Control <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Item Control By Division (For Department)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYDIVDEPT }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Item Control By Division (For Beaches)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYDIVBEACHES }, new { target = "_blank"})</li>
                    <li>@Html.ActionLink("Item Control By Division (For Marina)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYDIVMARINA }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Item Control By Budgeted Item Description (For Department)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYBUDITEMDEPT }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Item Control By Budgeted Item Description (For Beaches)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYBUDITEMBEACHES }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Item Control By Budgeted Item Description (For Marina)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYBUDITEMMARINA }, new { target = "_blank" })</li>
                </ul>
            </li>
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    Vacancy <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Vacancy Report By Division", "LocalReport", new { reportName = ReportsController.REPORT_VACBYDIV }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Vacancy Report By Budgeted Item Description", "LocalReport", new { reportName = ReportsController.REPORT_VACBYBUDITEMDESC }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Items Encumbered By Persons Holding Other Titles", "LocalReport", new { reportName = ReportsController.REPORT_ITEMSENCUMBERED }, new { target = "_blank" })</li>
                </ul>
            </li>
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    Employee List <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Employee List Report", "LocalReport", new { reportName = ReportsController.REPORT_EMPLOYEELISTPERMTEMP }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Item Control By Division (For Budget Services)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYDIV }, new { target = "_blank" })</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    Budgeted Position <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Budgeted Position By Employee Last Name", "LocalReport", new { reportName = ReportsController.REPORT_BUDPOSBYEMPLLN }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Budgeted Position By Division For Department", "LocalReport", new { reportName = ReportsController.REPORT_BUDPOSBYDIVDEPT }, new { target = "_blank" })</li>
                </ul>
            </li>
            <li class="active">
                @Html.ActionLink("Org Codes By Employee ID No.", "LocalReport", new { reportName = ReportsController.REPORT_ORGCODES }, new { target = "_blank" })
            </li>            
        </ul>
    </div>
</div>

@*<div class="row">
    <div class="col-md-6">
        <h2>Item Control</h2>
        <p>Reports showing the Items on different criteria.</p>
        <p>@Html.ActionLink("Item Control By Division (For Department)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYDIVDEPT }, new { target = "_blank", @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Item Control By Division (For Beaches)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYDIVBEACHES }, new { target = "_blank", @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Item Control By Division (For Marina)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYDIVMARINA }, new { target = "_blank", @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Item Control By Budgeted Item Description (For Department)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYBUDITEMDEPT }, new { target = "_blank", @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Item Control By Budgeted Item Description (For Beaches)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYBUDITEMBEACHES }, new { target = "_blank", @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Item Control By Budgeted Item Description (For Marina)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYBUDITEMMARINA }, new { target = "_blank", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-6">
        <h2>Vacancy</h2>
        <p>Reports showing all vacant positions.</p>
        <p>@Html.ActionLink("Vacancy Report By Division", "LocalReport", new { reportName = ReportsController.REPORT_VACBYDIV }, new { target = "_blank", @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Vacancy Report By Budgeted Item Description", "LocalReport", new { reportName = ReportsController.REPORT_VACBYBUDITEMDESC }, new { target = "_blank", @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Items Encumbered By Persons Holding Other Titles", "LocalReport", new { reportName = ReportsController.REPORT_ITEMSENCUMBERED }, new { target = "_blank", @class = "btn btn-primary" })</p>
    </div>    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Employee List</h2>
        <p>Reports that show the Employees.</p>
        <p>@Html.ActionLink("Employee List Report", "LocalReport", new { reportName = ReportsController.REPORT_EMPLOYEELISTPERMTEMP }, new { target = "_blank", @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Item Control By Division (For Budget Services)", "LocalReport", new { reportName = ReportsController.REPORT_ITEMCTRLBYDIV }, new { target = "_blank", @class = "btn btn-primary" })</p>
    </div>    
    <div class="col-md-4">
        <h2>Budgeted Position</h2>
        <p>Reports showing the Budgeted Positions and their relationships with an Actual Position</p>
        <p>@Html.ActionLink("Budgeted Position By Employee Last Name", "LocalReport", new { reportName = ReportsController.REPORT_BUDPOSBYEMPLLN }, new { target = "_blank", @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Budgeted Position By Division For Department", "LocalReport", new { reportName = ReportsController.REPORT_BUDPOSBYDIVDEPT }, new { target = "_blank", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Org Codes</h2>
        <p>List of the Org Codes</p>
        <p>@Html.ActionLink("Org Codes By Employee ID No.", "LocalReport", new { reportName = ReportsController.REPORT_ORGCODES }, new { target = "_blank", @class = "btn btn-primary" })</p>
    </div>
</div>*@

