@model ItemCDBMigrations.Models.tblBudItemNum

@{
    ViewBag.Title = "Delete Item";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this Item?</h3>
<div>
    <h4>@Model.BudItemDesc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblBargainUnit.BargainUnitDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBargainUnit.BargainUnitDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudItemDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudItemDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudSchedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudSchedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudNote)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-success" }) |
            <input type="submit" value="Delete" class="btn btn-danger" />            
        </div>
    }
</div>
