@model ItemCDBMigrations.Models.tblBudItemNum

@{
    ViewBag.Title = "Details Item";
}

<h2>Item Details</h2>

<div>
    <h4>@Model.BudItemDesc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblBargainUnit.BargainUnitDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBargainUnit.BargainUnitDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudItemDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudItemDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudSchedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudSchedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudNote)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BudItemNum }) |
    @Html.ActionLink("Full List", "Index")
</p>
