@model PagedList.IPagedList<ItemCDBMigrations.Models.tblBudItemNum>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Items", FormMethod.Get))
{
    <p>
        Description: @Html.TextBox("searchString", ViewBag.CurrentFilter as string) 
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.tblBargainUnit.BargainUnitDesc)*@
            @Html.ActionLink("Bargain Unit", "Index", new { sortOrder = ViewBag.BUnit, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BudItemDesc)*@
            @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.ItemDesc, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].BudSchedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].BudNote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblBargainUnit.BargainUnitDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudItemDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudSchedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudNote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BudItemNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.BudItemNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BudItemNum })
        </td>
    </tr>
}

</table>
<h4>@(Model.Count > 0 ? Model.TotalItemCount + " Records found" : "")</h4>
@if (Model.TotalItemCount > Model.PageSize)
{
    <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    @Html.PagedListPager(Model, pn => Url.Action("Index", new { page = pn, sortOrder = ViewBag.CurrentSortOrder, currentFilter = ViewBag.CurrentFilter }))
}
