@model IEnumerable<ItemCDBMigrations.Models.tblBudItemNum>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Description: @Html.TextBox("searchString") 
        <input type="button" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.tblBargainUnit.BargainUnitDesc)*@
            @Html.ActionLink("Bargain Unit", "Index", new { sortOrder = ViewBag.BUnit, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BudItemDesc)*@
            @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.ItemDesc, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudSchedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudNote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblBargainUnit.BargainUnitDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudItemDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudSchedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudNote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BudItemNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.BudItemNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BudItemNum })
        </td>
    </tr>
}

</table>
