@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Item Control</h1>
    <p class="lead">Item Control is the interface to access the database that has all the information of all the L.A. County Department of Beaches and Harbors employees and positions. 
    <br />You can add, modify or delete employees and positions.<br />And you can also create and access reports with the information up to date. </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Let's go! &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Employees</h2>
        <p>
            Get all the information and data from all the employees in the Department.
        </p>
        <p>
            @Html.ActionLink("Let's see the Employees", "Index", "Employees", null, new { @class = "btn btn-success" })
        </p>
    </div>
    <div class="col-md-3">
        <h2>Items</h2>
        <p>
            Check out all the Items we have at the Department. Need to update some info on one?<br />
            How about adding a brand new one? Get here and do it all!
        </p>
        <p>
            @Html.ActionLink("Show me the Items", "Index", "Items", null, new { @class = "btn btn-success" })
        </p>
    </div>
    <div class="col-md-3">
        <h2>Positions</h2>
        <p>Surf through Budgeted and Actual Positions to see everything the Department has to offer!</p>
        <p>@Html.ActionLink("Go to Budgeted Positions", "Index", "BudgetedP", null, new { @class = "btn btn-success" })</p>
        <p>@Html.ActionLink("Actual Positions Coming Soon", "Index", "Home", null, new { @class = "btn btn-danger" })</p>        
    </div>
    <div class="col-md-3">
        <h2>Reports</h2>
        <p>Looking for some compact, meaningful data? Get your KPI's right here!</p>
        <p>@Html.ActionLink("Reports coming soon!", "Index", "Home", null,   new { @class = "btn btn-warning" })</p>        
    </div>
</div>