@model ItemCDBMigrations.Models.tblUnit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblUnit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitSupervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitSupervisor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UnitCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
