@model ItemCDBMigrations.Models.tblSection

@{
    ViewBag.Title = "Delete Section";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this Section?</h3>
<div>
    <h4>@Model.SecDesc1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SecDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecDesc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecDesc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecHead)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-success" }) |
            <input type="submit" value="Delete Section" class="btn btn-danger" />             
        </div>
    }
</div>
