@model ItemCDBMigrations.Models.tblDivision

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblDivision</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DivDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DivDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DivDesc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DivDesc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DivChief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DivChief)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DivCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
