@model ItemCDBMigrations.Models.tblPOSITIONBUDGETED

@{
    ViewBag.Title = "Delete Budgeted Position";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this Budgeted Position?</h3>
<div>
    <h4>@Model.tblBudItemNum.BudItemDesc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblBud.BudDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBud.BudDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblBudItemNum.BudItemDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBudItemNum.BudItemDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDivision.DivDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDivision.DivDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblFilled.FilledDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblFilled.FilledDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblFunction.FuncDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblFunction.FuncDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblOrd.OrdDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblOrd.OrdDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblOrgCode.BudOrgCodeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblOrgCode.BudOrgCodeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblSection.SecDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblSection.SecDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblSubItem.SubItemDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblSubItem.SubItemDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUnit.UnitDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUnit.UnitDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-success " }) |
            <input type="submit" value="Delete" class="btn btn-danger" />            
        </div>
    }
</div>
