@model ItemCDBMigrations.Models.tblPOSITIONBUDGETED

@{
    ViewBag.Title = "Edit Budgeted Position";
}

<h2>Edit Budgeted Position</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.tblBudItemNum.BudItemDesc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BudPosNum)

        <div class="form-group">
            @Html.Label("Budgeted Position Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.BudPosNum, new { htmlAttributes = new { @class = "control-label col-md-2" } })                                
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Item", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BudItemNum", null, "Select an Item", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudItemNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tblSubItem.SubItemDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BudSubItem", null, "Select SubItem", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudSubItem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tblOrd.OrdDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BudOrd", null, "Select Ordinance", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudOrd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tblBud.BudDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BudBud", null, "Select Budgeted", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudBud, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tblFilled.FilledDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BudFilled", null, "Select Filled", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudFilled, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tblFunction.FuncDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BudFunction", null, "Select Function", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudFunction, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tblOrgCode.BudOrgCodeDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BudOrgCode", null, "Select Org Code", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudOrgCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tblDivision.DivDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BudDivCode", null, "Select Division Code", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudDivCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tblSection.SecDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BudSecCode", null, "Select Section", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudSecCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tblUnit.UnitDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BudUnitCode", null, "Select Unit", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudUnitCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancel Edit", "Index", null, new { @class = "btn btn-danger" })
                <input type="submit" value="Save changes" class="btn btn-default" />
            </div>
        </div>        
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
