@model PagedList.IPagedList<ItemCDBMigrations.Models.tblPOSITIONBUDGETED>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Budgeted Positions";
}

<h2>Budgeted Position Search</h2>

<p>
    @Html.ActionLink("Create New Budgeted Position", "Create")
</p>
@using (Html.BeginForm("Index", "BudgetedP", FormMethod.Get))
{
    <p>Item: @Html.TextBox("searchString", ViewBag.CurrentFilter as string) 
    <input type="submit" value="Search" /></p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Item Number")            
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tblBudItemNum.BudItemDesc)*@
            @Html.ActionLink("Item Description", "Index", new { currentFilter = ViewBag.CurrentFilter, sortOrder = ViewBag.ItemD })
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].tblBud.BudDesc)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model[0].tblDivision.DivDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].tblFilled.FilledDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].tblFunction.FuncDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].tblOrd.OrdDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].tblOrgCode.BudOrgCodeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].tblSection.SecDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].tblSubItem.SubItemDesc)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tblUnit.UnitDesc)*@
            @Html.ActionLink("Unit", "Index", new { currentFilter = ViewBag.CurrentFilter, sortOrder = ViewBag.Unit })
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BudItemNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblBudItemNum.BudItemDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblBud.BudDesc)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.tblDivision.DivDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblFilled.FilledDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblFunction.FuncDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblOrd.OrdDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblOrgCode.BudOrgCodeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblSection.SecDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblSubItem.SubItemDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUnit.UnitDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BudPosNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.BudPosNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BudPosNum })
        </td>
    </tr>
}

</table>
<h4>@(Model.TotalItemCount > 0 ? Model.TotalItemCount + " Records found" : "")</h4>
@if(Model.TotalItemCount > Model.PageSize)
{
    <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    @Html.PagedListPager(Model, pg => Url.Action("Index", new { page = pg, sortOrder = ViewBag.CurrentSortOrder, currentFilter = ViewBag.CurrentFilter }))
}
